<!DOCTYPE html>
<html>

<style>
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<body>
<center><h1><font color="white">Predictions on Heart disease</h1></center>
<h2>     </h2>

<div align="center" style="margin-right: 30%;
    margin-left: 30%;">

  <form method="POST">
  <form action="/action_page.php">

    <label for="age"></label>
    <input type="number" id="age" name="age" placeholder="Age (between 20 and 100)" min="20" max="100" step="1" required size="80">

    <label for="sex"></label>
    <input type="number" id="sex" name="sex" placeholder="Sex (Choose 0 for female 1 for male )" min="0" max="1" step="1" required size="1">

    <label for="cp"></label>
    <input type="number" id="cp" name="cp" placeholder="Chest pain type (1 = typical angina 2 = atypical angina 3 = non-anginal pain 4 = asymptomatic)" min="1" max="4" required size="4">

    <label for="trestbps"></label>
    <input type="number" id="trestbps" name="trestbps" placeholder="Resting blood pressure (between 80 and 200)" min="80" max="200" step="1" required size="120">

      <label for="chol"></label>
    <input type="number" id="chol" name="chol" placeholder="Cholesterol level (between 120 and 570)" min="120" max="570" step="5" required size="90">

      <label for="fbs"></label>
    <input type="number" id="fbs" name="fbs" placeholder="Fasting blood sugar >120mg/dl (True=1 or False=0)" min="0" max="1" step="1" required size="1">

      <label for="restecg"></label>
    <input type="number" id="restecg" name="restecg" placeholder="Resting ECG results(0 = normal 1 = having ST-T 2 = hypertrophy)" min="0" max="2" step="1" required size="3">

      <label for="thalach"></label>
    <input type="number" id="thalach" name="thalach" placeholder="max heartrate achieved(between 70 and 205)" min="70" max="205" step="1" required size="135">

      <label for="exang"></label>
    <input type="number" id="exang" name="exang" placeholder="Exercise induce angina (yes=1  no=0)" min="0" max="1" step="1" required size="1">

      <label for="oldpeak"></label>
    <input type="number" id="oldpeak" name="oldpeak" placeholder="ST depression induced by exercise relative to rest(between 0 to 6.2)" min="0" max="6.2" step="0.1" required size="7">

      <label for="slope"></label>
    <input type="number" id="slope" name="slope" placeholder="slope of the peak exercise ST segment(1 = upsloping 2 = flat 3 = downsloping)" min="1" max="3" step="1" required size="3">

      <label for="ca"></label>
    <input type="number" id="ca" name="ca" placeholder="number of major vessels colored by flourosopy (between 0 and 4)" min="0" max="4" step="1" required size="5">

      <label for="thal"></label>
    <input type="number" id="thal" name="thal" placeholder="Thalassemia (3 = normal 6 = fixed defect 7 = reversable defect)" min="3" max="7" step="1" required size="4">
	<select name="req_model">
    <option value="Logistic">Logistic Regression</option>
    <option value="SVM">SVM</option>
  </select>


    <input type="submit" value="Predict">
  </form>
</form>

<form method=["GET","POST"]>

    <center><h2><font color="Black"> Prediction is {{ target}}</font></h2></center>
    <center><h2><font color="Black"> {{string_to_display}}</font></h2></center>
</form>


</div>


</body>
</html>


</body>
</html>